## make aliases sudo-able
alias sudo="sudo "

## Modified commands
alias grep='grep --color=auto'
alias df='df -kh'
alias du='du -chs'
alias mkdir='mkdir -p -v'
alias ping='ping -c 5'
alias dmesg='dmesg -HL'
alias vi='vim'

## New commands
alias du1='du -sh --max-depth=1'
alias pgg='ps -Af | grep' # requires an argument

## Directory shortcuts
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

## ls
alias ls='ls -ahFG'
alias l='ls -l'
alias ll='ls -l'
#recursive directory listings as a tree
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less'
# sort by size
alias lz='ll -S'
# sort by date
alias lt='ll -t'

## Safety features, ask before overwriting / deleting files
alias cp='cp -i'
alias mv='mv -iv'
alias rm='rm -iv'
alias ln='ln -i'

## Git
alias gpr='git up'
alias gf='git f'
alias gpu='git push'
alias gcam='git cam'
alias gco='git co'
alias gcob='git cob'
alias ga='git add'
alias gt='git tag'
# always remove directories that are not managed in VCS when cleaning.
alias gcl='git clean -fd'
# show short status
alias gs='git status -sb'
# nicer blame
alias gbl='git blame -wMC' # -w ignores white space | -M ignores moving text | -C ignores moving text into other files
alias gl='git ls'
alias gfd='git ld'
alias gdiv='git divergence'
alias greset='git rs'
alias gresethard='git rh'
#show all merged branches
alias gshowmerged='git branch --merged | grep -v "\*" | grep -v master'
#delete all merged branches
alias gsdeletemerged='git branch --merged | grep -v "\*" | grep -v master | xargs -n 1 git branch -d'

## Maven
alias installboms="find . -type d -name '*bom*' -exec sh -c '(cd {} && mvn clean install)' ';'"
alias mkmvndirs="mkdir -p src/{main,test}/{java,resources}"
alias mci="mvn clean install"
alias mcist="mvn clean install -DskipTests"
alias mpl="mvn clean install -pl"
alias mplst="mvn clean install -DskipTests -pl"
alias mampl="mvn clean install -am -pl"
alias mamplst="mvn clean install -DskipTests -am -pl"
alias mamdpl="mvn clean install -amd -pl"
alias mamdplst="mvn clean install -DskipTests -amd -pl"

#docker
# stop all running containers
alias dsa='docker stop $(docker ps -aq)'
# remove all containers
alias drma='docker rm $(docker ps -aq)'
# cleanup all volumes
alias dcv='docker volume prune -f'
alias dclean='dsa ; drma ; dcv'
# brute force docker cleanup
alias dsp='docker system prune -f -a --volumes'
# bash in a running container
alias dbash='function _dbash(){docker exec -ti $1 bash};_dbash'
