## make aliases sudo-able
alias sudo="sudo "

## Modified commands
alias grep='grep --color=auto'
alias more='less'
alias df='df -kh'
alias du='du -chs'
alias mkdir='mkdir -p -v'
alias ping='ping -c 5'
alias dmesg='dmesg -HL'
alias vi='vim'

## New commands
alias du1='du -sh --max-depth=1'
alias hist='history | grep'         # requires an argument
alias pgg='ps -Af | grep'           # requires an argument
alias pg='pgrep -lf'                # requires an argument
alias jsonpretty="python -mjson.tool"     # make pretty json file from ugly json file

## Directory shortcuts
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

## ls
alias ls='ls -ahFG'
alias ll='ls -l'
#recursive directory listings as a tree
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less'
# sort by size
alias lz='ll -S'
# sort by date
alias lt='ll -t'

## Safety features, ask before overwriting / deleting files
alias cp='cp -i'
alias mv='mv -iv'
alias rm='rm -iv'
alias ln='ln -i'

## Git
alias gpr='git up'
alias gf='git f'
alias gpu='git push'
alias gcam='git cam'
alias gco='git co'
alias gcob='git cob'
alias ga='git add'
alias gt='git tag'
# always remove directories that are not managed in VCS when cleaning.
alias gcl='git clean -fd'
# show short status
alias gs='git status -sb'
# nicer blame
alias gbl='git blame -wMC' # -w ignores white space | -M ignores moving text | -C ignores moving text into other files
alias gl='git ls'
alias gfd='git ld'
alias gdiv='git divergence'
alias greset='git rs'
alias gresethard='git rh'

## Grunt
alias g="grunt"
alias gw="grunt watch"

## Maven
alias installboms="find . -type d -name '*bom*' -exec sh -c '(cd {} && mvn clean install)' ';'"
alias mvnfolders="mkdir -p src/{main,test}/{java,resources}"
alias mcv="mvn clean verify"
alias mci="mvn clean install"
alias mcist="mvn clean install -DskipTests"
alias mpl="mvn clean install -pl"
alias mplst="mvn clean install -DskipTests -pl"
alias mampl="mvn clean install -am -pl"
alias mamplst="mvn clean install -DskipTests -am -pl"
alias mamdpl="mvn clean install -amd -pl"
alias mamdplst="mvn clean install -DskipTests -amd -pl"
