##################################################
## make aliases sudo-able
alias sudo="sudo "

## Modified commands ## {{{
alias grep='grep --color=auto'
alias more='less'
alias df='df -kh'
alias du='du -chs'
alias mkdir='mkdir -p -v'
alias ping='ping -c 5'
alias dmesg='dmesg -HL'
alias vi='vim'
# }}}

##################################################
## New commands ## {{{
alias da='date "+%A, %B %d, %Y [%T]"'
alias du1='du --max-depth=1'
alias hist='history | grep'         # requires an argument
alias pgg='ps -Af | grep'           # requires an argument
alias pg='pgrep -lf'                # requires an argument
alias varnishstart='launchctl load /usr/local/opt/varnish/homebrew.mxcl.varnish.plist'
# }}}

##################################################
## Make Bash error tolerant ## {{{
alias :q=' exit'
alias :Q=' exit'
alias :x=' exit'
alias q='exit'
# }}}

##################################################
## Directory shortcuts ## {{{
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
# }}}

##################################################
## ls ## {{{
alias ls='ls -ahFG'
alias lr='ls -R'                    # recursive ls
alias ll='ls -l'
alias la='ll -A'
alias lx='ll -BX'                   # sort by extension
alias lz='ll -rS'                   # sort by size
alias lt='ll -rt'                   # sort by date
alias lm='la | more'
# }}}

##################################################
## Safety features ## {{{
alias cp='cp -i'
alias mv='mv -iv'
alias rm='rm -iv'
alias ln='ln -i'
# }}}

##################################################
## Git stuff # {{{
alias gpr='git pull --rebase'
alias gf='git fetch -p'
alias gpu='git push'
alias gci='git commit -a -m'
alias ga='git add'
alias gb='git branch'
alias gc='git checkout'
alias gt='git tag'
alias gm='git merge'
alias gcl='git clean -fd'
alias gs='git status -sb'
alias gl='git log --graph --pretty=format:"%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias gd='git diff --word-diff'
alias gbl='git blame -wMC' # -w ignores white space | -M ignores moving text | -C ignores moving text into other files
# }}}

##################################################
## Grunt # {{{
alias g="grunt"
alias gw="grunt watch"
# }}}
