##################################################
## make aliases sudo-able
alias sudo="sudo "

##################################################
## Modified commands ## {{{
alias grep='grep --color=auto'
alias more='less'
alias df='df -kh'
alias du='du -chs'
alias mkdir='mkdir -p -v'
alias ping='ping -c 5'
alias dmesg='dmesg -HL'
alias vi='vim'
# }}}

##################################################
## New commands ## {{{
alias da='date "+%A, %B %d, %Y [%T]"'
alias du1='du --max-depth=1'
alias hist='history | grep'         # requires an argument
alias pgg='ps -Af | grep'           # requires an argument
alias pg='pgrep -lf'                # requires an argument
alias jsonpretty="python -mjson.tool"     # make pretty json file from ugly json file
# }}}

##################################################
## Make Bash error tolerant ## {{{
alias :q=' exit'
alias :Q=' exit'
alias :x=' exit'
alias q='exit'
# }}}

##################################################
## Directory shortcuts ## {{{
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
# }}}

##################################################
## ls ## {{{
alias ls='ls -ahFG'
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less' #recursive directory listings
alias ll='ls -l'
alias la='ll -A'
alias lx='ll -BX'                   # sort by extension
alias lz='ll -rS'                   # sort by size
alias lt='ll -rt'                   # sort by date
alias lm='la | more'
# }}}

##################################################
## Safety features ## {{{
alias cp='cp -i'
alias mv='mv -iv'
alias rm='rm -iv'
alias ln='ln -i'
# }}}

##################################################
## Git stuff # {{{
alias gpr='git pull --rebase'
alias gf='git fetch -p'
alias gpu='git push'
alias gci='git commit -a -m'
alias ga='git add'
alias gt='git tag'
alias gcl='git clean -fd'
alias gs='git status -sb'
alias gl='git log --graph --pretty=format:"%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias gbl='git blame -wMC' # -w ignores white space | -M ignores moving text | -C ignores moving text into other files
alias gfd='git log --diff-filter=D --summary' # find all commits that deleted files
# }}}

##################################################
## Grunt # {{{
alias g="grunt"
alias gw="grunt watch"
# }}}

##################################################
## Maven # {{{
alias installboms="find . -type d -name '*bom*' -exec sh -c '(cd {} && mvn clean install)' ';'"
# }}}
